body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 95vh;
}

p {
    font-size: 12px;
    color: hsl(220, 15%, 55%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    margin: auto;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}